/* main about me page */

header {
    height: 85px;
    border-bottom: solid 1.5px #cccccc;
    background: #ffffff;
}

.container {
    width: 960px;
    height: 85px;
    margin: 0 auto;
}

.header-links {
    float: right;
    padding-top: 30px;
}

.body-container {
    min-height: 100%;
    margin: 0 auto;
    height: 577px;
    padding-top: 20px; 
    background-image: url(background-image.png);
    background-size: cover; 
}

#main-header {
    background: #ffffff;
    margin-top: 0;
}

#my-name {
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    height: 60px;
    width: 220px;
    float: left;
    color: white;

}

#about-link {
    color: grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
    border-right: solid 1px grey;
    padding: 0 8px 5px 8px;
}

#portfolio-link {
    color: grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
    border-right: solid 1px grey;
    padding: 0 8px 5px 8px;
}

#contact-link {
    color: grey;
    text-decoration: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


#gitlink {
    float: right;
    color: grey;
    width: 60px;
    height: 60px;
    padding-right: 15px;
    padding-top: 40px;
}

#linkd {
    float: right;
    color: grey;
    width: 50px;
    height: 50px;
    padding-right: 30px;
    padding-top: 40px;
}

#stackdlink {
    float: right;
    color: grey;
    width: 50px;
    height: 50px;
    padding-right: 40px;
    padding-top: 40px;
}

#about-me {
    width: 960px;
    margin: 0 auto;
    height: 250px;
}

#about-me-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    font-weight: bold;
    color: #4aaaa5;
    padding: 30px 0 15px 20px;
    border-bottom: #cccccc solid;
}
.about-me-desc {
    width: 650px;
    height: 555px;
    float: left;
    background: white;
    border: #cccccc solid 1px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:  #cccccc;
    font-size: 16px;
    padding: 15px 15px 0 15px;
    line-height: 30px;
}

#profile-photo {
    float: left;
    padding: 15px 15px 0 15px;
}

.sidebar {
    width: 270px;
    height: 180px;
    float: right;
    background: white;
    border: #cccccc solid 1px;
}

.connect-links {
    border-bottom: #cccccc solid;
}

#connect-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #4aaaa5;
    padding: 20px 20px 20px 20px;

}

#footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:#444;
    color: #666666;
    text-align: center;
    font-size: 12px;
    border-top: solid 2.5px #4aaaa5;
}

/* contact page */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 446px;
}

/* portfolio page */

.portfolio-container {
    width: 650px;
    height: 555px;
    float: left;
    background: white;
    border: #cccccc solid 1px;
}

/* .hangman-container {
    float: left;
    width: 193px;
    height: 145px;
    padding: 25px 15px 25px  22px;
} */



/* .hangman-container {
    position: relative;
    height: 100px;
    width: 100px; */

/* } */

.man {
    position: relative;
    height: 100px;
    width: 100px;

}

.textoverlay1 {
    position: absolute;
    height: 60px;
    width: 98px;
    bottom: 0px;
    left: 0px;
    background-color: #4aaaa5 ;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#ffffff ;
    text-align: center;
 }   

#rpg-game-photo {
    float: right;
    width: 100px;
    height: 100px;
}

#rpg-game-link {
    float: right;
    text-decoration: none;
}

#trivia-photo {
    float: left;
    width: 100px;
    height: 100px;
}

#trivia-link {
    float: left;
    text-decoration: none;
}

#widget-photo {
    float: right;
    width: 100px;
    height: 100px;
}

#widget-link {
    float: right;
    text-decoration: none;
}

#rockpaperscissors-photo {
    float: left;
    width: 100px;
    height: 100px;
}

#rockpaperscissors-link {
    float: left;
    text-decoration: none;
}








